header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow-dark);
}

.header-logo img {
    height: 1.5rem;
}

/* Navigation */
.nav__list {
    display: flex;
    gap: 1rem;
}

.nav__link {
    color: var(--neutral-light);
}