.container--filled {
    height: auto;
    margin-inline: auto;
}

.form--filled {
    margin: 0;
    padding: 2rem 2rem;
    width: 16rem;
    height: auto;
    position: relative;
    background: linear-gradient(135deg, var(--primary-color), var(--accent-color2), var(--neutral-light));
}

h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.filled__item {
    text-align: left;
    margin-bottom: 1rem;
}

.filled__item--name {
    font-size: 1rem;
    color: var(--neutral-dark-400);
}

.filled__item li {
    margin-top: .3rem;
    list-style: inside;
}

i {
    position: absolute;
    font-size: 1.5rem;
}

.icon__delete {
    bottom: 1.25rem;
    right: 1.25rem;
    color: var(--danger-color);
}

.icon__edit {
    top: 1.25rem;
    right: 1.25rem;
    color: var(--primary-color);
}