.form__input--btn-cancel {
    border: 2px solid var(--btn-color);
    background-color: transparent;
    color: var(--btn-color);
}

.form__input--btn-cancel:hover {
    cursor: pointer;
    opacity: .8;
    border-color: var(--btn-color-hover);
}