.main__container {
    padding: 8rem 2.5rem 4rem;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
}

.container--order {
    grid-column: 2;
    grid-row: 1 / -4;
}