.main__container {
    padding: 8rem 2.5rem 4rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    justify-content: center;
}

.container--order {
    grid-column: 2;
    grid-row: 1 / -4;
}

@media(max-width: 900px) {
    .main__container {
        grid-template-columns: 1fr;
    }

    .container--order {
        grid-column: 1 / 3;
    }

    .container--filled {
        grid-column: 1 / 3;
    }
}

@media(min-width: 900px) and (max-width: 1200px) {
    .main__container {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }

    .container--order {
        grid-column: 1 / 3;
    }
}